<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target xsi:type="Console"
      name="nomarl"
      layout="${date}: [${threadname:whenEmpty=${threadid}}]-[${uppercase:${level}}]-${logger}: ${message}；${exception:format=tostring}"
      detectConsoleAvailable="true" />
    <!--archiveEvery="Hour"-->

    <target name="logfile"
       xsi:type="File"
       keepFileOpen="true"
       openFileCacheTimeout="10"
       maxArchiveFiles="30"
       archiveAboveSize="10240000"
       archiveNumbering="Rolling"
       concurrentWrites="true"
       fileName="./log/${logger}/${level}/${shortdate}.log"
       layout="${date}: [${threadname:whenEmpty=${threadid}}]-[${uppercase:${level}}]-${logger}: ${message};${exception:format=tostring}"
     />
    
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.*" minlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="nomarl" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>